.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode*
*/secrets.h
*/mqtt_managers/gcp_mqtt/ciotc_config.h
*/mqtt_managers/gcp_mqtt/ec_private.pem
*/mqtt_managers/gcp_mqtt/ec_public.pem

py-seq-mock
devices
data